:root {
  /* *Fonts* */

  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* *Background colors* */

  --main-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;

  /* *Text colors* */

  --header-text-color: #212121;
  --hero-text-color: #fff;
  --main-text-color: #757575;

  --accent-color: #2196f3;
  --secondary-color: #000;

  /* *Animations* */

  --fast-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

/* *Обнуляем стили* */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *Общие значения* */

.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--header-text-color);
}

.text {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--hero-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/* *Header* */

.header {
  width: 100vw;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;

  height: 80px;
}

.navigation,
.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item {
  margin-left: 50px;
}

.navigation__item:first-child {
  margin-left: 93px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts__item {
  margin-right: 30px;
}

.header-contacts__item:last-child {
  margin-right: 0px;
}

/* Логотип */

.logo {
  display: flex;
  align-items: center;
}

.logo-primary {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-secondary {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

.navigation__link {
  position: relative;

  padding: 32px 0px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--header-text-color);

  transition: color var(--fast-anim);
}

.navigation__link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts__link {
  display: flex;
  align-items: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  transition: color var(--fast-anim);
}

.header-contacts__icon {
  margin-right: 10px;

  fill: currentColor;
}

/* Эффект ховера и фокуса */
.navigation__link:hover,
.navigation__link:focus,
.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}

/* *Hero* */

.hero-container {
  width: 696px;
  text-align: center;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  padding-top: 200px;
  padding-bottom: 200px;

  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/hero.jpg);
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-text-color);
}

.hero-btn {
  padding: 10px 32px;

  min-width: 200px;
  min-height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--fast-anim);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* *Modal form* */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--fast-anim), visibility var(--fast-anim);

  z-index: 10;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  background-color: #fff;

  border-radius: 4px;

  transition: transform 300ms ease-in-out 200ms, opacity 300ms ease-in-out 200ms;
}

.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

.backdrop .modal-wrapper {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  outline: transparent;

  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

/* *Modal form contacts* */

.form-title {
  display: flex;
  justify-content: center;

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--header-text-color);
}

.form-field,
.form-field-policy {
  display: block;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-text {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;

  color: var(--main-text-color);
}

.form-input {
  width: 100%;
  height: 40px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;

  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--fast-anim);

  cursor: pointer;
}

.form-icon {
  position: absolute;
  left: 15px;
  top: 50%;

  transition: fill var(--fast-anim);
}

.form-field .textarea {
  margin-bottom: 20px;
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-textarea:focus,
.form-textarea:hover {
  border-color: var(--accent-color);
}

.form-input:focus,
.form-input:hover {
  border-color: var(--accent-color);
}

.form-input:focus,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-field-policy {
  margin-bottom: 30px;
}

.form-text-policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.link-policy {
  color: var(--accent-color);
}
.send {
  display: flex;
  justify-content: center;
}

.submit-btn {
  min-width: 200px;
  min-height: 50px;
  padding: 0px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--fast-anim);

  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #188ce8;
}

/* *Custom Checkbox */

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-left: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  border: 2px solid var(--header-text-color);

  transition: border-color var(--fast-anim), background-color var(--fast-anim);
}

.custom-checkbox-icon {
  opacity: 0;

  transition: opacity var(--fast-anim);
}

.form-field-policy {
  display: flex;
  align-items: center;
}

.custom-checkbox:hover,
.custom-checkbox:focus {
  border-color: var(--accent-color);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/* *Feature* */

.feature-container {
  display: flex;
}

.feature__list {
  padding-right: 30px;
}

.feature__item {
}

.feature__list:last-child {
  padding-right: 0px;
}

.feature-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
}

.feature-box:last-child {
  margin-right: 0;
}

.feature-box__icons {
}

.feature__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--header-text-color);
}

.feature__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* *Activities* */

.activities {
  padding-top: 0;
}

.activities__list {
  display: flex;
  align-items: center;
}

.activities__item {
  position: relative;

  margin-right: 30px;
}

.activities__item:last-child {
  margin-right: 0;
}

.activities__item::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 70px;
}

.activities__text {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hero-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* *Team* */

.team {
  background-color: var(--secondary-bg-color);
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  margin-right: 30px;
  background-color: var(--main-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-right: 0px;
}

.team__list {
  display: flex;
  align-items: center;
}

.team-name {
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--header-text-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* *Social-icons */

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item {
  margin-top: 16px;
  margin-right: 10px;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: #afb1b8;
  background-color: #fff;
  border-radius: 50%;

  transition: color var(--fast-anim), background-color var(--fast-anim);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.socials-icons {
  fill: currentColor;
}

/* *Clients* */
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.clients-item {
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color var(--fast-anim);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
  transition: fill var(--fast-anim);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* *Footer* */

.footer {
  display: flex;
  padding: 60px 0px;

  background-color: var(--hero-footer-bg-color);
}

.footer-container {
  margin-right: 70px;
}

.footer-social-box {
  margin-right: 93px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-social-title {
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;

  color: #ffffff;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
}

.footer-socials-item {
  margin-right: 10px;
}

.footer-socials-item:last-child {
  margin-right: 0px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  color: #fff;
  background-color: #44454e;
  border-radius: 50%;

  transition: color var(--fast-anim), background-color var(--fast-anim);
}

.footer-socials-icons {
  fill: currentColor;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.logo-primary-footer {
  width: 145px;

  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-secondary-footer {
  color: var(--main-bg-color);
}

.footer-item-location,
.footer-item-contacts {
  margin-bottom: 9px;
}

.footer-item-contacts:last-child {
  margin-bottom: 0px;
}

.footer-link {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--hero-text-color);
}

.contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  min-width: 200px;
  min-height: 50px;
  padding: 0px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--fast-anim);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
}

.subscribe-text {
  padding-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  color: #ffffff;
}

.subscribe-email {
  min-width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  color: var(--main-bg-color);
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: border-color var(--fast-anim);
}

.subscribe-email:hover,
.subscribe-email:focus {
  border-color: var(--accent-color);
}

/******************************/
/* *Portfolio* */
/******************************/

/* *Gallery button* */

.gallery-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}

.gallery-nav-item {
  margin-right: 8px;
}

.gallery-nav-item:last-child {
  margin-right: 0;
}

.nav-btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--header-text-color);
  background-color: var(--secondary-bg-color);
  border-color: transparent;
  border-radius: 4px;

  transition: color var(--fast-anim), background-color var(--fast-anim),
    box-shadow var(--fast-anim);
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: #188ce8;
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* *Content* */

.content-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--hero-text-color);

  transform: translateY(100%);
  transition: transform var(--fast-anim);
}

.content-link:hover .img-text,
.content-link:focus .img-text {
  transform: translateY(0);
}

.content-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.content-item:nth-child(3n) {
  margin-right: 0px;
}

.content-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.content-title-box {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.content-link {
  display: block;

  transition: box-shadow var(--fast-anim);
}

.content-link:hover,
.content-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-title-box .content-title-header {
  padding-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--header-text-color);
}

.content-title-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
}
